{% extends "base.html"%}

{% load static %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Instrumenti/login.css' %}">
    <title>Dobrodosli</title>
</head>
<body>
    <div>
        <section class="myform-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="form-area login-form">
                            <div class="form-content">
                                <h2>Dobrodosli na GeoOglase!</h2>
                                <p>Mesto gde možete ostaviti svoj ili pogledati druge geodetske oglase! ;)</p>
                                <ul>
                                    <!-- <li><a href="#" class="facebook"><i class="fa fa-facebook-f"></i><span>facebook</span></a></li>
                                    <li><a href="#" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a></li> -->
                                </ul>
                            </div>
                            <div class="form-input">
                                <h2>Ulogujte se</h2>
                                <form method="post">
                                    {% csrf_token %}
                                    {% for field in form %}
                                    <div class="form-group">
                                        {{field}}
                                        {{field.label_tag}}
                                    </div>
                                    <!-- <div class="form-group">
                                        <input type="password" id="lozinka" name="password" required>
                                        <label>Lozinka</label>
                                    </div> -->
                                    {% endfor %}
                                    <div class="myform-button">
                                        <button type="submit" class="myform-btn">LogIn</button>
                                    </div>
                                    <div class="myform-button">
                                        <a class="ml-3" href="{% url 'Instrumenti:register_user' %}">Nemate nalog? Registrujete se!</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
{% endblock %}