{% extends "base.html"%}

{% load static %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Dobrodosli</title>
</head>
<body>
    <h1 class="text-center">Dobrodošli na GeoOglase!</h1>
    <style>
        body {
          background-image: url("{% static 'Instrumenti/WorldMap.jpg' %}");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
    </style>
    <!-- <img src="{% static 'Instrumenti/WorldMap.jpg' %}" class="rounded mx-auto d-block" alt="my_image"> -->
    <!-- <h1><a href="{% url "Instrumenti:oglasi" %}"> Pogledajte oglase </a></h1>
    <h1><a href="{% url "Instrumenti:dodaj_oglas" %}"> Dodajte oglas </a></h1> -->
</body>
</html>
{% endblock %}